### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Flask ###
instance/*
!instance/.gitignore
.webassets-cache
.env

### Flask.Python Stack ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### log
log/

### data
data.txt
data.csv
tmp_classroom.csv